#root {
  max-width: auto;
  margin: 0;
  padding: 0;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

:root {
  --color-chart-1: hsl(0, 100%, 40%);
  --color-chart-2: hsl(210, 100%, 40%);
  --color-chart-3: hsl(120, 60%, 40%);
  --color-chart-4: hsl(330, 100%, 40%);
  --color-chart-5: hsl(300, 50%, 40%);
  --color-chart-6: hsl(30, 100%, 40%);
  --color-chart-7: hsl(350, 100%, 80%);
  --color-chart-8: hsl(180, 50%, 40%);
  --color-chart-9: hsl(50, 100%, 70%);
  --color-chart-10: hsl(0, 100%, 50%);
  --color-chart-11: hsl(270, 100%, 20%);
  --color-chart-12: hsl(80, 70%, 60%);
  --color-chart-13: hsl(50, 100%, 50%);
  --color-chart-14: hsl(350, 100%, 40%);
  --color-chart-15: hsl(180, 100%, 50%);
  --color-chart-16: hsl(240, 100%, 30%);
  --color-chart-17: hsl(180, 100%, 30%);
  --color-chart-18: hsl(45, 100%, 40%);
  --color-chart-19: hsl(0, 0%, 60%);
  --color-chart-20: hsl(120, 100%, 20%);
  --color-chart-21: hsl(45, 60%, 50%);
  --color-chart-22: hsl(300, 100%, 30%);
  --color-chart-23: hsl(90, 50%, 20%);
  --color-chart-24: hsl(30, 100%, 50%);
  --color-chart-25: hsl(280, 100%, 40%);
  --color-chart-26: hsl(0, 100%, 30%);
  --color-chart-27: hsl(15, 100%, 60%);
  --color-chart-28: hsl(120, 50%, 60%);
  --color-chart-29: hsl(240, 50%, 30%);
  --color-chart-30: hsl(180, 50%, 20%);
  --color-chart-31: hsl(180, 100%, 40%);
  --color-chart-32: hsl(280, 100%, 40%);
  --color-chart-33: hsl(330, 100%, 40%);
  --color-chart-34: hsl(195, 100%, 50%);
  --color-chart-35: hsl(0, 0%, 40%);
  --color-chart-36: hsl(210, 100%, 40%);
  --color-chart-37: hsl(0, 80%, 40%);
  --color-chart-38: hsl(30, 100%, 90%);
  --color-chart-39: hsl(120, 60%, 30%);
  --color-chart-40: hsl(300, 100%, 50%);
  }
  

.chart-container {
  height: 400px; 
  overflow-y: auto;
  width: 100%; 
  height: 100%; 
  margin-right: 100px;
}
.switch-container {
  display: flex; 
  align-items: center;
  justify-content: center; 
  width: fit-content; 
  margin-left: auto; 
  height: 50px;
  margin-right: 20px; 
  margin-top: 10px; 
}
.separator {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #090909;
  margin-right: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  margin-left: 20px; 
  
}

.tile-container {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.data-table {
  width: 80%;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  transform:  rotateX(0.5deg);
  transition: transform 0.5s;
}
.data-table:hover {
  transform: perspective(600px) rotateX(0deg);
}

.chart-tile {
  background-color: #ffffff; 
  margin-left: 150px;
  margin-right: 150px;
  padding: 0px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);  
  transform: rotateY(0deg) rotateX(2deg); 
  transition: transform 0.5s;
  border-radius: 15px;
  
}

.chart-tile:hover {
  transform: rotateY(0deg) rotateX(10deg);
}

.container-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw; 
}

.header {
  display: flex;
  background: #090909;
  height: 135px; 
  width: 100%;
  filter: drop-shadow(0 0 0.5em #000000aa); 
  border-bottom-left-radius: 50% 20%; 
  border-bottom-right-radius: 50% 20%; 
}

.logo {
  height: 50px; 
  will-change: filter;
  transition: filter 300ms;
  height: 65px;
  margin-top: 1px;
  margin-right: 12px; 
}

.logo-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 0 10px;
}

.subtitle {
  color: #ffffff;
  font-size: 16px; 
  width: 100%;
  margin: 0;
  margin-bottom: -5px; 
  font-weight: normal; 
  text-align: left;
}

.title {
  color: #ffffff;
  margin: 0;
  font-size: 38px;
  font-weight: normal; 
  text-align: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myToggleButtonGroup .MuiToggleButton-root {
  width: 50px;
}
.switch-img {
  width: 45px;
  height: 45px;
  padding-right: 0px;
  padding-top: -2px;
 
}
.no-outline-button {
  border: none;
  outline: none;
}
.toggle-button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.filters {
  margin: 10px 10px 10px 10px; 
}

.firstColumnCell {
  padding-left: 20px;
}
.mobile-navigation-button {
  color: black;
  margin-right: 200px;
  height: 60px; 
  width: 60px; 
}

.center-line {
  width: 10%; 
  height: 1px;
  background: #d3d3d3; 
  margin-top: 70px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.MuiButton-root.button-running-tasks {
  background-color: #006400;
  color: white;
  width: 100%;
}

.MuiButton-root.button-running-tasks:hover {
  background-color: #568f56;
}

.myDataGrid .MuiDataGrid-columnHeaderTitleContainer {
  padding-left: 20px;
}
.legend-text {
  color: black; /* Change this to the color you want */
}
.strike-through {
  text-decoration: line-through;
}